# Module - 1

Data Pre-Processing

In [1]:
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=p.read_csv('churn.csv')

In [4]:
data.head()

,Customer ID,Gender,Age,Zip Code,Latitude,Longitude,Tenure in Months,Offer,Internet Type,Avg Monthly GB Download,Unlimited Data,Contract,Payment Method,Monthly Charge,Total Charges,Total Extra Data Charges,Total Revenue,Customer Status
0,0002-ORFBO,Female,37,93225,34.827662,-118.999073,9,NaN,Cable,16.0,Yes,One Year,Credit Card,65.6,593.30,0,974.81,Stayed
1,0003-MKNFE,Male,46,91206,34.162515,-118.203869,9,NaN,Cable,10.0,No,Month-to-Month,Credit Card,-4.0,542.40,10,610.28,Stayed
2,0004-TLHLJ,Male,50,92627,33.645672,-117.922613,4,Offer E,Fiber Optic,30.0,Yes,Month-to-Month,Bank Withdrawal,73.9,280.85,0,415.45,Churned
3,0011-IGKFF,Male,78,94553,38.014457,-122.115432,13,Offer D,Fiber Optic,4.0,Yes,Month-to-Month,Bank Withdrawal,98.0,1237.85,0,1599.51,Churned
4,0013-EXCHZ,Female,75,93010,34.227846,-119.079903,3,NaN,Fiber Optic,11.0,Yes,Month-to-Month,Credit Card,83.9,267.40,0,289.54,Churned

In [5]:
data.shape

(7043, 18)

In [6]:
data.isnull().sum()

Customer ID                    0
Gender                         0
Age                            0
Zip Code                       0
Latitude                       0
Longitude                      0
Tenure in Months               0
Offer                       3877
Internet Type               1526
Avg Monthly GB Download     1526
Unlimited Data              1526
Contract                       0
Payment Method                 0
Monthly Charge                 0
Total Charges                  0
Total Extra Data Charges       0
Total Revenue                  0
Customer Status                0
dtype: int64

In [7]:
sum(data.isnull().sum())

8455

In [8]:
data.columns

Index(['Customer ID', 'Gender', 'Age', 'Zip Code', 'Latitude', 'Longitude',
       'Tenure in Months', 'Offer', 'Internet Type', 'Avg Monthly GB Download',
       'Unlimited Data', 'Contract', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Extra Data Charges', 'Total Revenue',
       'Customer Status'],
      dtype='object')

In [9]:
data['Customer Status'].unique()

array(['Stayed', 'Churned', 'Joined'], dtype=object)

In [10]:
data[data["Customer Status"] == 'Churned' ]

,Customer ID,Gender,Age,Zip Code,Latitude,Longitude,Tenure in Months,Offer,Internet Type,Avg Monthly GB Download,Unlimited Data,Contract,Payment Method,Monthly Charge,Total Charges,Total Extra Data Charges,Total Revenue,Customer Status
2,0004-TLHLJ,Male,50,92627,33.645672,-117.922613,4,Offer E,Fiber Optic,30.0,Yes,Month-to-Month,Bank Withdrawal,73.90,280.85,0,415.45,Churned
3,0011-IGKFF,Male,78,94553,38.014457,-122.115432,13,Offer D,Fiber Optic,4.0,Yes,Month-to-Month,Bank Withdrawal,98.00,1237.85,0,1599.51,Churned
4,0013-EXCHZ,Female,75,93010,34.227846,-119.079903,3,NaN,Fiber Optic,11.0,Yes,Month-to-Month,Credit Card,83.90,267.40,0,289.54,Churned
18,0022-TCJCI,Male,79,94015,37.680844,-122.481310,45,NaN,DSL,17.0,Yes,One Year,Credit Card,62.70,2791.50,0,3271.65,Churned
19,0023-HGHWL,Male,67,95037,37.161544,-121.649371,1,NaN,Cable,9.0,Yes,Month-to-Month,Bank Withdrawal,25.10,25.10,0,25.10,Churned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7020,9961-JBNMK,Male,79,92239,33.889605,-115.257009,21,NaN,Fiber Optic,7.0,Yes,Month-to-Month,Bank Withdrawal,-1.00,2030.30,0,2907.77,Churned
7023,9965-YOKZB,Male,73,95636,38.636102,-120.522149,9,NaN,Fiber Optic,13.0,Yes,Month-to-Month,Bank Withdrawal,83.85,790.15,0,880.51,Churned
7036,9985-MWVIX,Female,53,93628,36.807595,-118.901544,1,Offer E,Fiber Optic,9.0,Yes,Month-to-Month,Credit Card,70.15,70.15,0,112.24,Churned
7037,9986-BONCE,Female,36,92028,33.362575,-117.299644,4,NaN,NaN,NaN,NaN,Month-to-Month,Bank Withdrawal,20.95,85.50,0,93.54,Churned
7039,9992-RRAMN,Male,40,95367,37.734971,-120.954271,22,Offer D,Fiber Optic,17.0,Yes,Month-to-Month,Bank Withdrawal,85.10,1873.70,0,2230.10,Churned

In [11]:
data[data["Customer Status"] == 'Stayed'].shape

(4720, 18)

In [12]:
a = data["Age"].unique()
a.sort()
print(a)

[19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66
 67 68 69 70 71 72 73 74 75 76 77 78 79 80]

In [13]:
data["Internet Type"].unique()

array(['Cable', 'Fiber Optic', 'DSL', nan], dtype=object)

In [14]:
data["Unlimited Data"].unique()

array(['Yes', 'No', nan], dtype=object)

In [15]:
data["Contract"].unique()

array(['One Year', 'Month-to-Month', 'Two Year'], dtype=object)

In [16]:
data["Payment Method"].unique()

array(['Credit Card', 'Bank Withdrawal', 'Mailed Check'], dtype=object)

In [17]:
data[data["Payment Method"] == 'Credit Card']

,Customer ID,Gender,Age,Zip Code,Latitude,Longitude,Tenure in Months,Offer,Internet Type,Avg Monthly GB Download,Unlimited Data,Contract,Payment Method,Monthly Charge,Total Charges,Total Extra Data Charges,Total Revenue,Customer Status
0,0002-ORFBO,Female,37,93225,34.827662,-118.999073,9,NaN,Cable,16.0,Yes,One Year,Credit Card,65.60,593.30,0,974.81,Stayed
1,0003-MKNFE,Male,46,91206,34.162515,-118.203869,9,NaN,Cable,10.0,No,Month-to-Month,Credit Card,-4.00,542.40,10,610.28,Stayed
4,0013-EXCHZ,Female,75,93010,34.227846,-119.079903,3,NaN,Fiber Optic,11.0,Yes,Month-to-Month,Credit Card,83.90,267.40,0,289.54,Churned
5,0013-MHZWF,Female,23,95345,37.581496,-119.972762,9,Offer E,Cable,73.0,Yes,Month-to-Month,Credit Card,69.40,571.45,0,722.38,Stayed
7,0014-BMAQU,Male,52,94558,38.489789,-122.270110,63,Offer B,Fiber Optic,7.0,No,Two Year,Credit Card,84.65,5377.80,20,6214.28,Stayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035,9979-RGMZT,Female,20,90022,34.023810,-118.156582,7,Offer E,Fiber Optic,42.0,Yes,One Year,Credit Card,94.05,633.45,0,888.88,Stayed
7036,9985-MWVIX,Female,53,93628,36.807595,-118.901544,1,Offer E,Fiber Optic,9.0,Yes,Month-to-Month,Credit Card,70.15,70.15,0,112.24,Churned
7038,9987-LUTYD,Female,20,91941,32.759327,-116.997260,13,Offer D,DSL,59.0,Yes,One Year,Credit Card,55.15,742.90,0,1349.74,Stayed
7040,9992-UJOEL,Male,22,95432,39.108252,-123.645121,2,Offer E,DSL,51.0,Yes,Month-to-Month,Credit Card,50.30,92.75,0,129.99,Joined
7041,9993-LHIEB,Male,21,92075,33.001813,-117.263628,67,Offer A,Cable,58.0,Yes,Two Year,Credit Card,67.85,4627.65,0,4769.69,Stayed

In [18]:
df = data.dropna()

In [19]:
df.isnull().sum()

Customer ID                 0
Gender                      0
Age                         0
Zip Code                    0
Latitude                    0
Longitude                   0
Tenure in Months            0
Offer                       0
Internet Type               0
Avg Monthly GB Download     0
Unlimited Data              0
Contract                    0
Payment Method              0
Monthly Charge              0
Total Charges               0
Total Extra Data Charges    0
Total Revenue               0
Customer Status             0
dtype: int64

In [20]:
df.shape

(2493, 18)

In [21]:
df.describe()

,Age,Zip Code,Latitude,Longitude,Tenure in Months,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Extra Data Charges,Total Revenue
count,2493.000000,2493.000000,2493.000000,2493.000000,2493.000000,2493.000000,2493.000000,2493.000000,2493.000000,2493.000000
mean,46.707982,93444.219013,36.120280,-119.664276,34.038508,26.738869,76.130485,2844.533373,8.680305,3629.143049
std,17.093612,1835.121516,2.459472,2.125717,25.240928,19.828549,23.997347,2425.195980,28.173093,3108.384350
min,19.000000,90001.000000,32.555828,-124.240051,1.000000,2.000000,-10.000000,23.450000,0.000000,23.450000
25%,32.000000,92104.000000,33.972293,-121.629781,9.000000,13.000000,59.600000,610.750000,0.000000,789.400000
50%,46.000000,93441.000000,35.846067,-119.375243,31.000000,21.000000,79.550000,2276.950000,0.000000,2798.920000
75%,60.000000,95255.000000,38.071327,-117.902304,59.000000,30.000000,94.550000,4786.150000,0.000000,6197.040000
max,80.000000,96150.000000,41.962127,-114.192901,72.000000,85.000000,118.650000,8594.400000,150.000000,11979.340000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2493 entries, 2 to 7041
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               2493 non-null   object
 1   Gender                    2493 non-null   object
 2   Age                       2493 non-null   int64
 3   Zip Code                  2493 non-null   int64
 4   Latitude                  2493 non-null   float64
 5   Longitude                 2493 non-null   float64
 6   Tenure in Months          2493 non-null   int64
 7   Offer                     2493 non-null   int32
 8   Internet Type             2493 non-null   object
 9   Avg Monthly GB Download   2493 non-null   float64
 10  Unlimited Data            2493 non-null   object
 11  Contract                  2493 non-null   object
 12  Payment Method            2493 non-null   object
 13  Monthly Charge            2493 non-null   float64
 14  Total Charges             2493 non-null   float64
 15  Total Extra Data Charges  2493 non-null   int64
 16  Total Revenue             2493 non-null   float64
 17  Customer Status           2493 non-null   object
dtypes: float64(6), int32(1), int64(4), object(7)
memory usage: 360.3+ KB

In [27]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'Zip Code', 'Latitude', 'Longitude',
       'Tenure in Months', 'Offer', 'Internet Type', 'Avg Monthly GB Download',
       'Unlimited Data', 'Contract', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Extra Data Charges', 'Total Revenue',
       'Customer Status'],
      dtype='object')

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

var = ['Customer ID','Gender','Internet Type','Unlimited Data','Contract','Payment Method','Customer Status']

for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [30]:
df.corr()

,Customer ID,Gender,Age,Zip Code,Latitude,Longitude,Tenure in Months,Offer,Internet Type,Avg Monthly GB Download,Unlimited Data,Contract,Payment Method,Monthly Charge,Total Charges,Total Extra Data Charges,Total Revenue,Customer Status
Customer ID,1.000000,-0.006156,-0.003430,-0.022604,-0.012013,0.005840,0.000973,-0.004785,-0.008265,-0.007799,-0.021888,0.014927,0.007871,-0.012896,-0.002744,0.003863,-0.004867,0.015777
Gender,-0.006156,1.000000,-0.018881,0.039838,0.033011,-0.036963,0.001139,-0.004249,-0.007767,-0.005203,0.001675,-0.008754,-0.024771,-0.029346,-0.012572,0.015249,-0.005112,-0.015872
Age,-0.003430,-0.018881,1.000000,0.016470,0.008563,-0.013053,-0.029748,0.025878,0.133657,-0.569522,-0.007935,0.024689,-0.092625,0.072364,-0.005636,0.005624,-0.009638,-0.103340
Zip Code,-0.022604,0.039838,0.016470,1.000000,0.893522,-0.788463,0.012296,-0.000432,-0.032625,0.003615,0.004444,0.037049,-0.015808,0.006036,0.007533,-0.013074,0.009961,0.006313
Latitude,-0.012013,0.033011,0.008563,0.893522,1.000000,-0.883477,0.001088,0.013400,-0.056318,-0.004360,0.009738,0.031574,-0.006108,-0.018276,-0.010167,-0.019842,-0.008100,0.032221
Longitude,0.005840,-0.036963,-0.013053,-0.788463,-0.883477,1.000000,-0.004282,-0.008565,0.048550,-0.002325,0.002288,-0.029303,-0.005239,0.011818,0.001847,0.005581,0.002205,-0.016343
Tenure in Months,0.000973,0.001139,-0.029748,0.012296,0.001088,-0.004282,1.000000,-0.977388,0.031406,0.041588,0.003604,0.681462,0.014574,0.361374,0.932590,0.082454,0.914690,0.481961
Offer,-0.004785,-0.004249,0.025878,-0.000432,0.013400,-0.008565,-0.977388,1.000000,-0.027477,-0.040565,-0.003716,-0.655638,-0.018400,-0.354659,-0.906114,-0.092937,-0.888893,-0.482244
Internet Type,-0.008265,-0.007767,0.133657,-0.032625,-0.056318,0.048550,0.031406,-0.027477,1.000000,-0.045169,-0.002709,-0.091213,-0.218689,0.606409,0.230538,0.025864,0.217933,-0.139667
Avg Monthly GB Download,-0.007799,-0.005203,-0.569522,0.003615,-0.004360,-0.002325,0.041588,-0.040565,-0.045169,1.000000,0.027828,0.021552,0.019591,0.008528,0.039696,-0.008375,0.038993,0.068485
Unlimited Data,-0.021888,0.001675,-0.007935,0.004444,0.009738,0.002288,0.003604,-0.003716,-0.002709,0.027828,1.000000,0.031964,-0.003355,0.005801,0.004781,-0.768945,-0.005109,0.024718
Contract,0.014927,-0.008754,0.024689,0.037049,0.031574,-0.029303,0.681462,-0.655638,-0.091213,0.021552,0.031964,1.000000,0.095497,0.202014,0.630854,0.020966,0.613888,0.465108
Payment Method,0.007871,-0.024771,-0.092625,-0.015808,-0.006108,-0.005239,0.014574,-0.018400,-0.218689,0.019591,-0.003355,0.095497,1.000000,-0.164015,-0.020184,-0.002087,-0.018260,0.106834
Monthly Charge,-0.012896,-0.029346,0.072364,0.006036,-0.018276,0.011818,0.361374,-0.354659,0.606409,0.008528,0.005801,0.202014,-0.164015,1.000000,0.577558,0.035051,0.564876,0.028425
Total Charges,-0.002744,-0.012572,-0.005636,0.007533,-0.010167,0.001847,0.932590,-0.906114,0.230538,0.039696,0.004781,0.630854,-0.020184,0.577558,1.000000,0.078130,0.978696,0.398180
Total Extra Data Charges,0.003863,0.015249,0.005624,-0.013074,-0.019842,0.005581,0.082454,-0.092937,0.025864,-0.008375,-0.768945,0.020966,-0.002087,0.035051,0.078130,1.000000,0.094197,0.044590
Total Revenue,-0.004867,-0.005112,-0.009638,0.009961,-0.008100,0.002205,0.914690,-0.888893,0.217933,0.038993,-0.005109,0.613888,-0.018260,0.564876,0.978696,0.094197,1.000000,0.396463
Customer Status,0.015777,-0.015872,-0.103340,0.006313,0.032221,-0.016343,0.481961,-0.482244,-0.139667,0.068485,0.024718,0.465108,0.106834,0.028425,0.398180,0.044590,0.396463,1.000000

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2493 entries, 2 to 7041
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               2493 non-null   int32
 1   Gender                    2493 non-null   int32
 2   Age                       2493 non-null   int64
 3   Zip Code                  2493 non-null   int64
 4   Latitude                  2493 non-null   float64
 5   Longitude                 2493 non-null   float64
 6   Tenure in Months          2493 non-null   int64
 7   Offer                     2493 non-null   int32
 8   Internet Type             2493 non-null   int32
 9   Avg Monthly GB Download   2493 non-null   float64
 10  Unlimited Data            2493 non-null   int32
 11  Contract                  2493 non-null   int32
 12  Payment Method            2493 non-null   int32
 13  Monthly Charge            2493 non-null   float64
 14  Total Charges             2493 non-null   float64
 15  Total Extra Data Charges  2493 non-null   int64
 16  Total Revenue             2493 non-null   float64
 17  Customer Status           2493 non-null   int32
dtypes: float64(6), int32(8), int64(4)
memory usage: 292.1 KB

In [32]:
p.crosstab(df["Contract"], df["Customer Status"])

Customer Status    0   1    2
Contract
0                667  99  594
1                 70   6  472
2                 20  11  554

In [33]:
df["Contract"].value_counts()

Contract
0    1360
2     585
1     548
Name: count, dtype: int64

In [34]:
df.duplicated()

2       False
3       False
5       False
6       False
7       False
        ...
7036    False
7038    False
7039    False
7040    False
7041    False
Length: 2493, dtype: bool

In [35]:
sum(df.duplicated())

0